deployer/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  Bouncer SAM Deployer v1.0.0 - 安全的 SAM 部署系統

Parameters:
  TelegramBotToken:
    Type: String
    NoEcho: true
    Description: Telegram Bot Token (用於通知)
  
  TelegramChatId:
    Type: String
    Default: ""
    Description: Telegram Chat ID
  
  GitHubPATSecretName:
    Type: String
    Default: sam-deployer/github-pat
    Description: GitHub PAT 在 Secrets Manager 的名稱

  CreateCFNRole:
    Type: String
    Default: "false"
    AllowedValues: ["true", "false"]
    Description: 是否建立 CloudFormation execution role（首次部署用，之後 import）

Conditions:
  ShouldCreateCFNRole: !Equals [!Ref CreateCFNRole, "true"]

Globals:
  Function:
    Timeout: 30
    Runtime: python3.12
    MemorySize: 256
    Architectures:
      - arm64

Resources:
  # ============================================================
  # KMS Key - 加密所有資源
  # ============================================================
  DeployerKMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: Bouncer SAM Deployer encryption key
      EnableKeyRotation: true
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowRootAccess
            Effect: Allow
            Principal:
              AWS: !Sub "arn:aws:iam::${AWS::AccountId}:root"
            Action: "kms:*"
            Resource: "*"
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  DeployerKMSKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: alias/bouncer-deployer
      TargetKeyId: !Ref DeployerKMSKey

  # ============================================================
  # S3 Bucket - SAM Artifacts
  # ============================================================
  ArtifactsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "sam-deployer-artifacts-${AWS::AccountId}"
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !Ref DeployerKMSKey
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      LifecycleConfiguration:
        Rules:
          - Id: CleanupOldNoncurrentVersions
            Status: Enabled
            NoncurrentVersionExpiration:
              NoncurrentDays: 90
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  ArtifactsBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ArtifactsBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: DenyInsecureTransport
            Effect: Deny
            Principal: "*"
            Action: "s3:*"
            Resource:
              - !Sub "${ArtifactsBucket.Arn}"
              - !Sub "${ArtifactsBucket.Arn}/*"
            Condition:
              Bool:
                "aws:SecureTransport": "false"

  # ============================================================
  # DynamoDB - 專案配置
  # ============================================================
  ProjectsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: bouncer-projects
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: project_id
          AttributeType: S
      KeySchema:
        - AttributeName: project_id
          KeyType: HASH
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  # ============================================================
  # DynamoDB - 部署歷史
  # ============================================================
  DeployHistoryTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: bouncer-deploy-history
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: deploy_id
          AttributeType: S
        - AttributeName: project_id
          AttributeType: S
        - AttributeName: started_at
          AttributeType: N
      KeySchema:
        - AttributeName: deploy_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: project-time-index
          KeySchema:
            - AttributeName: project_id
              KeyType: HASH
            - AttributeName: started_at
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  # ============================================================
  # DynamoDB - 部署鎖
  # ============================================================
  DeployLocksTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: bouncer-deploy-locks
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: project_id
          AttributeType: S
      KeySchema:
        - AttributeName: project_id
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  # ============================================================
  # IAM - Permission Boundary
  # ============================================================
  SAMDeployerBoundary:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      ManagedPolicyName: SAMDeployerBoundary
      Description: Permission boundary for SAM deployed roles
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowedServices
            Effect: Allow
            Action:
              - lambda:*
              - apigateway:*
              - dynamodb:*
              - s3:*
              - logs:*
              - events:*
              - sqs:*
              - sns:*
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
              - kms:Decrypt
              - kms:GenerateDataKey
              - cloudwatch:*
              - xray:*
            Resource: "*"
          - Sid: AllowIAMReadAndPassRole
            Effect: Allow
            Action:
              - iam:GetRole
              - iam:GetRolePolicy
              - iam:ListRolePolicies
              - iam:ListAttachedRolePolicies
              - iam:PassRole
            Resource: "*"
          - Sid: DenyDangerousActions
            Effect: Deny
            Action:
              - iam:CreateUser
              - iam:DeleteUser
              - iam:CreateAccessKey
              - iam:AttachUserPolicy
              - iam:DetachUserPolicy
              - organizations:*
              - account:*
            Resource: "*"

  # ============================================================
  # IAM - CodeBuild Role
  # ============================================================
  CodeBuildRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: CodeBuildSAMDeployerRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: codebuild.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: CodeBuildSAMDeployerPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/codebuild/sam-deployer*"
              - Sid: S3Artifacts
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                  - s3:ListBucket
                  - s3:GetBucketLocation
                Resource:
                  - !Sub "${ArtifactsBucket.Arn}"
                  - !Sub "${ArtifactsBucket.Arn}/*"
                  - "arn:aws:s3:::aws-sam-cli-managed-default-*"
                  - "arn:aws:s3:::aws-sam-cli-managed-default-*/*"
              - Sid: SecretsManager
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:sam-deployer/*"
              - Sid: KMS
                Effect: Allow
                Action:
                  - kms:Decrypt
                  - kms:GenerateDataKey
                Resource: !GetAtt DeployerKMSKey.Arn
              - Sid: CloudFormation
                Effect: Allow
                Action:
                  - cloudformation:*
                Resource: "*"
              - Sid: IAMPassRole
                Effect: Allow
                Action:
                  - iam:PassRole
                Resource:
                  - !Sub "arn:aws:iam::${AWS::AccountId}:role/BounceDeployerCFNRole"
              - Sid: CrossAccountAssumeRole
                Effect: Allow
                Action: sts:AssumeRole
                Resource:
                  - "arn:aws:iam::*:role/BouncerRole"
                  - "arn:aws:iam::*:role/BouncerDeployerRole"  # Legacy support
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  # ============================================================
  # IAM - Notifier Lambda Role
  # ============================================================
  NotifierLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: BounceDeployerNotifierRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: NotifierPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*"
              - Sid: DynamoDB
                Effect: Allow
                Action:
                  - dynamodb:UpdateItem
                  - dynamodb:GetItem
                  - dynamodb:DeleteItem
                Resource:
                  - !GetAtt DeployHistoryTable.Arn
                  - !GetAtt DeployLocksTable.Arn
              - Sid: KMS
                Effect: Allow
                Action:
                  - kms:Decrypt
                Resource: !GetAtt DeployerKMSKey.Arn
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  # ============================================================
  # IAM - Step Functions Role
  # ============================================================
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: BounceDeployerStepFunctionsRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: CodeBuild
                Effect: Allow
                Action:
                  - codebuild:StartBuild
                  - codebuild:BatchGetBuilds
                  - codebuild:StopBuild
                Resource: !Sub "arn:aws:codebuild:${AWS::Region}:${AWS::AccountId}:project/sam-deployer"
              - Sid: Lambda
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt NotifierLambda.Arn
              - Sid: CloudWatchLogs
                Effect: Allow
                Action:
                  - logs:*
                Resource: "*"
              - Sid: XRay
                Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: "*"
              - Sid: EventBridge
                Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                  - events:DeleteRule
                  - events:RemoveTargets
                Resource:
                  - !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctions*"
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  # ============================================================
  # IAM - CloudFormation Execution Role (import-friendly)
  # 預設不建立（CreateCFNRole=false），Role 已手動存在。
  # 之後可用 aws cloudformation import 匯入管理。
  # ============================================================
  DeployerCFNRole:
    Type: AWS::IAM::Role
    Condition: ShouldCreateCFNRole
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      RoleName: BounceDeployerCFNRole
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: cloudformation.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AdministratorAccess
      Tags:
        - Key: ManagedBy
          Value: bouncer-deployer

  # ============================================================
  # CodeBuild Project
  # ============================================================
  SAMDeployerProject:
    Type: AWS::CodeBuild::Project
    Properties:
      Name: sam-deployer
      Description: Bouncer SAM Deployer
      ServiceRole: !GetAtt CodeBuildRole.Arn
      TimeoutInMinutes: 30
      Artifacts:
        Type: NO_ARTIFACTS
      Environment:
        Type: ARM_CONTAINER
        ComputeType: BUILD_GENERAL1_SMALL
        Image: aws/codebuild/amazonlinux-aarch64-standard:3.0
        PrivilegedMode: true
        EnvironmentVariables:
          - Name: ARTIFACTS_BUCKET
            Value: !Ref ArtifactsBucket
          - Name: KMS_KEY_ID
            Value: !Ref DeployerKMSKey
      Source:
        Type: NO_SOURCE
        BuildSpec: |
          version: 0.2
          env:
            secrets-manager:
              GITHUB_PAT: ${GITHUB_PAT_SECRET}
          phases:
            install:
              runtime-versions:
                python: 3.12
              commands:
                - pip install aws-sam-cli cfn-lint
                - nohup /usr/local/bin/dockerd --host=unix:///var/run/docker.sock --host=tcp://127.0.0.1:2375 &
                - timeout 15 sh -c "until docker info; do echo .; sleep 1; done"
            pre_build:
              commands:
                - echo "Cloning repository..."
                - git clone --depth 1 -b ${GIT_BRANCH} https://${GITHUB_PAT}@github.com/${GIT_REPO}.git repo
                - export WORK_DIR=$(pwd)/repo/${SAM_TEMPLATE_PATH}
                - echo "WORK_DIR=$WORK_DIR"
                - echo "Running cfn-lint..."
                - cfn-lint ${WORK_DIR}/template.yaml --non-zero-exit-code error
            build:
              commands:
                - export WORK_DIR=$(pwd)/repo/${SAM_TEMPLATE_PATH}
                - echo "Building SAM application in $WORK_DIR..."
                - cd $WORK_DIR && sam build --use-container
                - echo "Deploying to stack $STACK_NAME..."
                - |
                  cd $WORK_DIR
                  # Download deploy script from S3 (before assume-role, uses CodeBuild's own creds)
                  # Source: deployer/scripts/sam_deploy.py | To update: make -C deployer upload-deploy-script
                  aws s3 cp "s3://${ARTIFACTS_BUCKET}/deployer-scripts/sam_deploy.py" /tmp/sam_deploy.py
                  # Cross-account: assume role if TARGET_ROLE_ARN is set (non-empty after trim)
                  TRIMMED_ROLE_ARN=$(echo "$TARGET_ROLE_ARN" | tr -d '[:space:]')
                  if [ -n "$TRIMMED_ROLE_ARN" ]; then
                    echo "Assuming role $TRIMMED_ROLE_ARN for cross-account deploy..."
                    CREDS=$(aws sts assume-role --role-arn "$TRIMMED_ROLE_ARN" --role-session-name "bouncer-deploy-${DEPLOY_ID}" --output json) || { echo "ERROR: Failed to assume role $TRIMMED_ROLE_ARN"; exit 1; }
                    export AWS_ACCESS_KEY_ID=$(echo "$CREDS" | python3 -c "import sys,json; print(json.load(sys.stdin)['Credentials']['AccessKeyId'])")
                    export AWS_SECRET_ACCESS_KEY=$(echo "$CREDS" | python3 -c "import sys,json; print(json.load(sys.stdin)['Credentials']['SecretAccessKey'])")
                    export AWS_SESSION_TOKEN=$(echo "$CREDS" | python3 -c "import sys,json; print(json.load(sys.stdin)['Credentials']['SessionToken'])")
                    echo "Assumed role successfully. Verifying identity..."
                    aws sts get-caller-identity
                  fi
                  python3 /tmp/sam_deploy.py
            post_build:
              commands:
                - echo "Deployment complete!"
      LogsConfig:
        CloudWatchLogs:
          Status: ENABLED
          GroupName: /aws/codebuild/sam-deployer
      Tags:
        - Key: Project
          Value: BounceDeployer
        - Key: auto-delete
          Value: "no"

  # ============================================================
  # Notifier Lambda
  # ============================================================
  NotifierLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: bouncer-deployer-notifier
      Description: Send deployment notifications to Telegram
      Role: !GetAtt NotifierLambdaRole.Arn
      CodeUri: notifier/
      Handler: app.lambda_handler
      Environment:
        Variables:
          TELEGRAM_BOT_TOKEN: !Ref TelegramBotToken
          TELEGRAM_CHAT_ID: !Ref TelegramChatId
          HISTORY_TABLE: !Ref DeployHistoryTable
          LOCKS_TABLE: !Ref DeployLocksTable
      Tags:
        Project: BounceDeployer
        auto-delete: "no"

  # ============================================================
  # Step Functions State Machine
  # ============================================================
  DeployStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: sam-deployer-workflow
      Role: !GetAtt StepFunctionsRole.Arn
      Tracing:
        Enabled: true
      Definition:
        Comment: SAM Deployer Workflow
        StartAt: NotifyStart
        States:
          NotifyStart:
            Type: Task
            Resource: !GetAtt NotifierLambda.Arn
            Parameters:
              action: start
              deploy_id.$: $.deploy_id
              project_id.$: $.project_id
              branch.$: $.branch
            ResultPath: $.notify_start_result
            Next: StartBuild
            Catch:
              - ErrorEquals: ["States.ALL"]
                Next: NotifyFailure
          
          StartBuild:
            Type: Task
            Resource: "arn:aws:states:::codebuild:startBuild.sync"
            Parameters:
              ProjectName: sam-deployer
              EnvironmentVariablesOverride:
                - Name: GIT_REPO
                  Type: PLAINTEXT
                  Value.$: $.git_repo
                - Name: GIT_BRANCH
                  Type: PLAINTEXT
                  Value.$: $.branch
                - Name: STACK_NAME
                  Type: PLAINTEXT
                  Value.$: $.stack_name
                - Name: SAM_TEMPLATE_PATH
                  Type: PLAINTEXT
                  Value.$: $.sam_template_path
                - Name: SAM_PARAMS
                  Type: PLAINTEXT
                  Value.$: $.sam_params
                - Name: GITHUB_PAT_SECRET
                  Type: PLAINTEXT
                  Value.$: $.github_pat_secret
                - Name: TARGET_ROLE_ARN
                  Type: PLAINTEXT
                  Value.$: $.target_role_arn
                - Name: CFN_ROLE_ARN
                  Type: PLAINTEXT
                  Value: !Sub "arn:aws:iam::${AWS::AccountId}:role/BounceDeployerCFNRole"
                - Name: DEPLOY_ID
                  Type: PLAINTEXT
                  Value.$: $.deploy_id
            ResultPath: $.build_result
            Next: NotifySuccess
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.error
                Next: NotifyFailure
          
          NotifySuccess:
            Type: Task
            Resource: !GetAtt NotifierLambda.Arn
            Parameters:
              action: success
              deploy_id.$: $.deploy_id
              project_id.$: $.project_id
              build_id.$: $.build_result.Build.Id
            End: true
          
          NotifyFailure:
            Type: Task
            Resource: !GetAtt NotifierLambda.Arn
            Parameters:
              action: failure
              deploy_id.$: $.deploy_id
              project_id.$: $.project_id
              error.$: $.error
            End: true
      Tags:
        Project: BounceDeployer
        auto-delete: "no"

Outputs:
  ArtifactsBucket:
    Description: S3 bucket for SAM artifacts
    Value: !Ref ArtifactsBucket
  
  ProjectsTable:
    Description: DynamoDB table for project configurations
    Value: !Ref ProjectsTable
  
  DeployHistoryTable:
    Description: DynamoDB table for deployment history
    Value: !Ref DeployHistoryTable
  
  DeployStateMachine:
    Description: Step Functions state machine ARN
    Value: !Ref DeployStateMachine
  
  CodeBuildProject:
    Description: CodeBuild project name
    Value: !Ref SAMDeployerProject
  
  KMSKeyArn:
    Description: KMS key ARN for encryption
    Value: !GetAtt DeployerKMSKey.Arn
  
  PermissionBoundaryArn:
    Description: Permission Boundary ARN for SAM roles
    Value: !Ref SAMDeployerBoundary

  DeployerCFNRoleArn:
    Description: CloudFormation execution role ARN
    Value: !If
      - ShouldCreateCFNRole
      - !GetAtt DeployerCFNRole.Arn
      - !Sub "arn:aws:iam::${AWS::AccountId}:role/BounceDeployerCFNRole"
